.table>tbody>tr>td, .table>tbody>tr>th {
    padding: 5px 10px!important;
}
.card-invoice .card-body,.card-invoice .card-header,.card-invoice .card-footer{
    width: 85%;
}
@media print {
    .no-print {
        display: none;
    }
}
